div[ng-view]

/ #templates
script type="text/ng-template" id="login_form"
  = render 'static_pages/vault/login_form'

script type="text/ng-template" id="summaries"
  = render 'static_pages/vault/summaries'


/ #overlays
/   = render 'static_pages/vault/projection'
